{% extends 'base.html.twig' %}

{% block title %}Log{% endblock %}

{% block body %}
    <br />
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-sm btn-primary mb-1">{{ button_label|default('Фильтровать по IP') }}</button>
    {{ form_end(form) }}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Url</th>
                <th scope="col">Запрос</th>
                <th scope="col">Ответ</th>
                <th scope="col">Статус</th>
                <th scope="col">IP</th>
                <th scope="col">Время</th>
            </tr>
        </thead>
        <tbody>
            {% for row in logRows %}
                <tr>
                    <td>{{ row.url }}</td>
                    <td>{{ row.request }}</td>
                    <td>{{ row.response }}</td>
                    <td>{{ row.status }}</td>
                    <td>{{ row.ip }}</td>
                    <td>{{ row.createdAt|date('d.m.Y - H:i:s') }}</td>
                </tr>
            {% else %}
                <tr><td colspan="6">Записей нет</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}